
<div class="table_wrapper" >
	<table style="width:100%;">
<div>
<table class="w-100">

{# table title #}
	<tr align="left">
		<th>ВЫБОР ПОЛЬЗОВАТЕЛЯ/ОТДЕЛА</th>

		<th>минут без ответа</th>
		
		<th>Действие по наступлению условия</th>

		<th style="min-width:280px">Параметры действия</th>
		
		<th>Настройки</th>
	</tr>

{# Table body #}
	{% include 'add_condition.twig' with {
		select_manager: select_manager,
        tags: tags,
        tasks: tasks,
	}%}
	{% for line in message_control %}
	{# Режим отображения информации #}
			<tr align="left" id="view_row_{{line.id}}">
				<td>
					{{line.manager.option}}
				</td>
					
				<td>
					{{line.delay_time}}
				</td>

				{% if line.task %}	
					<td>Поставлена задача</td>
					<td>
						<div class="changes flex-column align-start jc-start">
							<span>Поставить задачу на дату: {{line.task.date}}</span>
							<span>Поставить задачу для: {{line.task.responsible.option}}</span>
							<span>Тип задачи: {{line.task.type.option}}</span>
							<span>Текст задачи: {{line.task.text}}</span>
						</div>
					</td>
				{% endif %}

				{% if line.tags %}	
					<td>Установленны тэги</td>
					
					<td>
						<div class="changes flex-column align-start jc-start">
							{% for tag in line.tags %}
								{% if tag.is_checked %}
								{% include 'tag.twig' with {
									id: tag.id,
									name: tag.name
								} %}
								{% endif %}
							{% endfor %}						
						</div>
					</td>
				{% endif %}

				{% if line.new_responsible %}	
					<td>Смена ответственного</td>
					<td>
						<div class="changes flex-column align-start jc-start">
							<span>Сменить ответственного на:</span>
							<span>{{line.new_responsible.option}}</span>
						</div>
					</td>
				{% endif %}

				{% if line.notice %}	
					<td>Отправить сообщение в телеграмм</td>
					<td>
						<div class="changes flex-column align-start jc-start">
							<span>Сообщение:</span>
							<span>{{line.notice}}</span>
						</div>
					</td>
				{% endif %}
				
				<td>
					<div class="flex-column align-center jc-center">
						<span data-action="change" class="edit" data-id={{line.id}}>изменить</span>
						<span data-action="delete" class="delete" data-id={{line.id}}>удалить</span>
					</div>
				</td>	
			</tr>


			{# Блок редактирования #}
			<tr id="edit_row_{{line.id}}" align="left" style="display:none;">
				<td>
					<div id="choice_manager_{{line.id}}" class="w-100">
						{% include "select.twig" with {
							selected: line.manager.id,                
							name:"choice_manager",
							items: select_manager,
							id: "current_manager_" ~ line.id, 
							title: "Выбор пользователя / отдела",
							additional_data: '',
							class_name: "w-100"
						} %}
					</div>
				</td>

				<td>
					<div class="w-100">
						{% include "input.twig" with {
							placeholder: "Введите время ожидания",
							id: "delay_time_" ~ line.id,
							class_name: "w-100",
							value: line.delay_time
						} %}
					</div>
				</td>

				<td>
					<div id="actions_{{line.id}}" data-id="{{line.id}}" class="w-100">
						{% include "select.twig" with {
							selected: line.action_type,
							name: "actions_choice",
							items: [{option:'Задача',  id:"task", value:"task"}, 
								{option:'Тег', id:"tag", value:"tag"}, 
								{option:'Смена ответственного', id:"responsible", value:"responsible"}, 
								{option:'Уведомление в Telegram', id:"notice" , value:"notice"}],
								id:"_actions_" ~ line.id ,
								class_name: "w-100"
						} %}

					</div>			
				</td>

				<td>
						{# Первая выборка (постановка новой задачии) #}
							<div id="task_settings_{{line.id}}"  class="align_center" {% if line.action_type != "task" %} style="display:none;" {% endif %}>
								{% include "date_field.twig" with {
									value: line.task.date,
									class_name: 'w-100',
									id: "task_date_" ~ line.id,
									additional_data: '',
									placeholder: "Со сроком выполнения: в момент события"
								} %}
								{% include "select.twig" with {
									class_name: 'w-100',
									id: "task_responsible_" ~ line.id,
									title: "Выбор пользователя / отдела",
									items: select_manager,
									selected: line.task.responsible.id,
								} %}
								{% include "task_select.twig" with {
									class_name: 'w-100',
									id: "task_type_" ~ line.id,
									title: "Типа задачи",
									items: tasks,
									selected: line.task.id,
								} %}
								{% include "textarea.twig" with {
									class_name: 'w-100',
									id: "task_text_" ~ line.id,
									placeholder: "Введите текст задачи",
									value: line.task.text
								} %}
							</div>
						

						{# Вторая выборка (тег) #}
							<div id="tag_settings_{{line.id}}"  class="align_center" {% if line.action_type != "tag" %} style="display:none;" {% endif %}>
									{% include "checkboxes_dropdown/tag_drop_checkbox.twig" with {
										id: "add_tags_" ~ line.id,
										title: "Добавить тэг",
										items: tags,
										class_name: 'w-100'


									} %}
							</div>

						{# Третья выборка (смена ответственного) #}
							<div id="change_responsible_{{line.id}}" class="align_center" {% if line.action_type != "responsible" %} style="display:none;" {% endif %}>
									{% include "select.twig" with {
										class_name: 'w-100',
										id: "change_task_responsible_" ~ line.id,
										title: "Выбор пользователя / отдела",
										items: select_manager,
										selected: line.new_responsible.id
									} %}
							</div>


						{# четвёртая выборка (отправка уведомления в телеграм) #}
							<div id="notice_{{line.id}}" class="align_center" {% if line.action_type != "notice" %} style="display:none;" {% endif %}>
									{% include "textarea.twig" with {
										class_name: 'w-100',
										id: "message_" ~ line.id,
										placeholder: "Введите сообщение в телеграмм",
										value: line.notice
									} %}
								
							</div>
						</td>

						<td align="center">
							<div class="flex-column align-center jc-start">
								<button data-action="save"  data-id="{{line.id}}" type="button" class=" button-input button-input_blue button-input_add save_changes_button w-100"  tabindex=""><span class="button-input-inner__text w-100"  data-action="save"  data-id="{{line.id}}">Сохранить</span></button>
								<button data-action="cancel" data-id="{{line.id}}" type="button" class="button-input button-cancel button-input_red button-input_add cancel_button w-100" tabindex=""><span class="button-input-inner__text w-100" data-action="cancel" data-id="{{line.id}}" >Отменить</span></button>
							</div>
						</td>			
				</tr>
	{% endfor %}
	
	
</table>


	

		


<div class="wrapper">


<button id="my_button">Нажми меня<button>
<style type="text/css">
#delay_time {
    width: 100%;
}


td{
	box-sizing: border-box;
    padding: 10px;
	background: white; 
	border: 1px solid rgb(240, 239, 239);
}

th {
	box-sizing: border-box;
    padding: 10px;
	background: white; 
	font-family: 'PT Sans Caption','Arial Black',sans-serif;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 19px;
	color: rgb(182,189,201);
	border: 1px solid rgb(240, 239, 239);

}

.flex-column {
	display: flex;
	flex-direction: column;
}

.align-center{
	align-items: center;
}
.align-start{
	align-items: flex-start;
}

.jc-center{
	justify-content: center;
}
.jc-start{
	justify-content: start;
}

p {
    font: inherit;
    font-size: inherit;
}

.date_field_wrapper  {
    width: 100%;
}

.tag_wrapper {
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid #38525d;
    position: relative;
    border-radius: 3px;
    /* width: fit-content; */
}

.custom_tag{
    background: rgba(56,82,93,.5);
    padding: 0 7px;
}

.table_wrapper{
    width: 100%;
}

.table{
	/* display: flex;
	flex-direction: column; */
}

.row{
    width: 100%;
    min-height: 45px;
    display: flex;
}

.cancel_button, .save_changes_button {
	margin: 10px
}

.edit, .delete{
	margin: 5px;
	color: blue;
	cursor: pointer;
}

.w-100{
	width: 100%;
	margin-bottom: 15px;
}
.head_title{
	font-family: 'PT Sans Caption','Arial Black',sans-serif;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 19px;
	color: rgb(182,189,201);
}
  </style>

</div>





